body, html {
	width: 100%;
	height: 100vh;
	text-align: center;
	}

body {
	overflow: hidden;
	background-image: url('./city.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	padding-top: 20vh;
	font-size: 5rem;
}

h2 {
	font-size: 5rem;
}

h3 {
	padding: 1rem;
	font-size: 3rem;
	background-color: white;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}

p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 30%;
	background-color: white;
	width: 40%;
	height: 10vh;
}

footer{
	color: white;
	background-color: black;
	position: -webkit-sticky;
	position: sticky;
	top: 96vh;
}

.parallax {
  perspective-origin-x: 100%;
	overflow-x: hidden;
	-webkit-perspective: 1px;
	        perspective: 1px;
	height: 100vh;
	overflow-y: auto;
}

.parallax-container {
  transform-origin-x: 100%;
	margin-bottom: 100vh;
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.base, .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.base {
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
}


.wide {
	width: 100vw;
	height: auto;
}

.green {
	background-color: green;
	background-size: cover;
	height: 100vh;
	margin-bottom: 100vh;
	background-image: url('./confusion.jpg');
}

.red {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: white;
	background-color: rgb(20,20,20);
	height: 20vh;
}


::-webkit-scrollbar {
    width: 0px;  
    background: transparent; 
}